@model ToDoAppModel.ToDoItem

<div class="list">
    <div class="task-title">
        <h3><a asp-controller="Items" asp-action="Details" asp-route-id="@Model.Id">@Model.Title</a></h3>
        @if (@Model.Status == ToDoAppModel.ItemStatus.Completed)
        {
            <span class="completed">Completed</span>
        }
        else if (@Model.DueDate.Date == DateTime.Today && @Model.DueDate.Date >= DateTime.Now.Date)
        {
            <span class="today">Today</span>
        }
        else if (@Model.DueDate.Date < DateTime.Now.Date)
        {
            <span class="late">Late</span>
        }
        else
        {
            <span class="ok">@Model.DueDate.ToString("ddd, dd/MM/yyyy")</span>
        }
        @if (@Model.Remind == true)
        {
            <span class="reminder">&#9200;</span>
        }
    </div>
    <div class="actions">
        @if (@Model.Status != ToDoAppModel.ItemStatus.Completed)
        {
            <a href="@Url.Action("Complete","Items", new { id = @Model.Id })" class="action complete">Comlete</a>
        }
        else
        {
            <a href="@Url.Action("Complete","Items", new { id = @Model.Id })" class="action disabled">Comleted</a>
        }
        <a asp-controller="Items" asp-action="Delete" asp-route-id="@Model.Id" class="action delete">Delete</a>
    </div>
</div>
